init = ". /home/tommy/.bash_functions.sh"
legend-keys-cache = "add"

[command-logs]
report-read-errors = "on"

[console-log]
command = "on"
command-name-trunc = 30
line-trunc = "detect"

[file-log]
path = "shrun.log"
command-name-trunc = 30
delete-on-success = "on"
mode = "append"
size-mode = "delete 50 mb"

[notify]
system = "dbus"
action = "command"
timeout = 5
